body{
	background-color:white;
	
}
#container{

	background-color:#eee;
	border:1px solid #999;
	padding:20px;
	margin:20px;
}

#teamLogo{

	width:160px;
	height:80px;
	background-color:white;
	border:1px solid #999;
	padding:20px;
	float:left;
}
#teamLogo img{
	float:left;
}
#teamLogo div{
	vertical-align:top;
	float:right;
}
#teamIntr{	
	background-color:white;
	border:1px solid #999;
	margin:0 140px 0 220px;
	padding:20px;
}
#personalLogo{
	width:80px;
	padding:20px 20px 0 20px;
	background-color:white;
	border:1px solid #999;
	float:right;
}
.picture{
	padding:0 0 20px 0;
}
#clear{
	clear:right;
}